@import "@repo/tailwind-config";
@import "tailwindcss";
/* CSS Variables for colors */

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* -------------------------------
   3️⃣ Global styles
---------------------------------*/
body {
  font-family: var(--font-primary);
}

/* -------------------------------
   4️⃣ Primary color utilities
---------------------------------*/
.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}
.text-secondary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

/* Status Pill Utilities */
.status-pill-pending {
  background-color: #fef3c7 !important;
  color: #746a0c !important;
}

.status-pill-cooking {
  background-color: #ffedd5 !important;
  color: #9a3412 !important;
}

.status-pill-ready {
  background-color: #dcfce7 !important;
  color: #166534 !important;
}
